DATABASE_URL=sqlite:///./assurance_auto.db
API_HOST=0.0.0.0
API_PORT=8000
SECRET_KEY=CHANGE_THIS_IN_PRODUCTION
ACCESS_TOKEN_EXPIRE_MINUTES=1440
DATA_PATH=./data/motor_insurance.csv
ROBOFLOW_PROJECT = 'car-damage-detection-vyhvw'
ROBOFLOW_VERSION = 6
APP_MODE=production

API_PORT=8000
GEMINI_API_KEY
ROBOFLOW_API_KEY
DANGEROUSLY_DISABLE_HOST_CHECK=true